<div class="vertical-overlay"></div>
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    < class="container-fluid" >
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0">page d'evenment</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Event et Invit</a>
              </li>

              <li class="breadcrumb-item active">Evenment</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">La liste des événment</h4>
          </div>
          <!-- end card header -->

          <div class="card-body">
            <div class="listjs-table" id="customerList">
              <div class="row g-4 mb-3">
                <div class="col-sm-auto">
                  <div>
                    <button
                      class="ri-add-line align-bottom me-1"
                      data-bs-target="#showModal"
                      id="create-btn"
                      class="btn btn-round btn-sm btn-success"
                      (click)="open(mymodal1, null)"
                    >
                      Add new Evenment
                    </button>
                   
                  </div>
                </div>

                <form class="col-md-6">
                  <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                   (input)="onSearchByName()"
                         autocomplete="off" placeholder="Search">
                </form>

              <div class="table-responsive table-card mt-3 mb-1">
                <table class="table align-middle table-nowrap">
                  <thead class="table-light">
                    <tr>
                      <th class="sort" data-sort="name"> Name </th>
                      <th class="sort" data-sort="date"> Date </th>
                      <th class="sort" data-sort="lieu"> Lieu </th>
                      <th class="sort" data-sort="description"> Description </th>
                      <th class="sort" data-sort="action"> Action </th>
                    </tr>
                  </thead>
                  <tbody class="list form-check-all">
                    <tr *ngFor="let item of eventList; let i = index">
                      <td>
                        <span>{{ item.name }} </span>
                      </td>
                      <td>
                        <span>{{ item.date }} </span>
                      </td>
                      <td>
                        <span>{{ item.lieu }} </span>
                      </td>
                      <td>
                        <span>{{ item.description }}</span>
                      </td>
                      <td>
                        <div class="d-flex gap-2">
                            <div class="edit">
                                <button class="btn btn-sm btn-success edit-item-btn" data-bs-toggle="modal" data-bs-target="#showModal">Edit</button>
                            </div>
                            <div class="remove">
                                <button (click)="deleteEvent(item)"class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal">Remove</button>
                            </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <ng-template #mymodal1 let-modal1>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                  Add new Evenment
                </h4>
                <button
                  type="button"
                  class="btn-close"
                  aria-label="Close"
                  (click)="modal1.dismiss('Cross click')"
                ></button>
              </div>
              <div class="modal-body">
                <form #form="ngForm">
                  <div class="mb-3">
                    <label for="lib"> Nom Evenment </label>
                    <div class="input-group">
                      <input
                        id="name"
                        class="form-control"
                        type="text"
                        placeholder="le nom d'evenment"
                        [(ngModel)]="addevent.name"
                        #name="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        required
                        minlength="3"
                      />
                      <div class="text-danger" *ngIf="name.invalid && name.touched">
                        <div *ngIf="name.hasError('required')">
                            field is required
                        </div>
                        <div *ngIf="name.hasError('minlength')">
                            minlength
                        </div>
                    </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="date">Date Evenment</label>
                    <div class="input-group">
                      <input
                        id="date"
                        class="ri-calendar-event-line"
                        
                        type="date"
                        class="form-control flatpickr flatpickr-input"
                        placeholder="Select date"
                        [(ngModel)]="addevent.date"
                        #date="ngModel"
                        [ngModelOptions]="{standalone: true}"

                      />
                    </div>
                   
                  </div>
                  <div class="mb-3">
                    <label for="lieu"> Lieu Evenment </label>
                    <div class="input-group">
                      <input
                        id="qteM"
                        class="form-control"
                        type="text"
                        placeholder="lieu de cette evenment"
                        [(ngModel)]="addevent.lieu"
                        #lieu="ngModel"
                        [ngModelOptions]="{standalone: true}"

                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="description"> la description de cette event </label>
                    <div class="input-group">
                      <input
                        id="description"
                        class="form-control"
                        type="text"
                        placeholder="Votre description"
                        [(ngModel)]="addevent.description"
                        #description="ngModel"
                        [ngModelOptions]="{standalone: true}"

                        
                      />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="addEvent()"
                  (click)="modal1.close('Save click')"
                >
                  Add
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                
                  (click)="modal1.close('Save click')"
                >
                  Cancel
                </button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

