
<div class="vertical-overlay"></div>
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    < class="container-fluid" >
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0">page d'evenment</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Event et Invit</a>
              </li>

              <li class="breadcrumb-item active">Evenment</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title mb-0">La liste des événment</h4>
          </div>
          <!-- end card header -->

<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span
        class="text-muted fw-light"
        style="cursor: pointer"
        [routerLink]="['l']"
        >Liste/</span
      >
      {{ editable ? "Modifier" : "Ajouter" }}
    </h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <div class="col-xxl">
        <div class="card mb-4">
          <div
            class="card-header d-flex align-items-center justify-content-between"
          >
            <h5 class="mb-0">
              {{ editable ? "Modifier" : "Ajouter" }} Invitation
            </h5>
          </div>
          <div class="card-body">
            <form
              name="form"
              (ngSubmit)="
              f.form.valid &&
                !compare(currentDate, dateInvitation.value) &&
                onSubmit()
            "
            #f="ngForm"
            novalidate
            >
              <div class="row mb-3">
                <label
                  class="col-sm-2 col-form-label"
                  for="basic-icon-default-fullname"
                  > Stattus</label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <select
                      class="form-select"
                      [(ngModel)]="invitation.status"
                      required
                      #status="ngModel"
                      name="specialite"
                      [ngClass]="{
                        'is-invalid': status.touched && status.invalid
                      }"
                    >
                      <option value="Accepted"> Accepted </option>
                      <option value="Refused">Refused</option>
                      <option value="InProgress">In Progress</option>
                    </select>
                  </div>
                  <div
                    class="form-text"
                    *ngIf="status.invalid && status.touched"
                  >
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="status.hasError('required')"
                    >
                      Champ  est obligatoire
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label
                  class="col-sm-2 col-form-label"
                  for="basic-icon-default-company"
                  >date  Invitation </label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <input
                      class="form-control"
                      type="date"
                      [(ngModel)]="invitation.dateInvitation"
                      required
                      #dateInvitation="ngModel"
                      name="dateInvitation"
                      [ngClass]="{
                        'is-invalid':
                          dateInvitation.touched && dateInvitation.invalid
                      }"
                    />
                  </div>
                  <div
                    class="form-text"
                    *ngIf="dateInvitation.invalid && dateInvitation.touched"
                  >
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="dateInvitation.hasError('required')"
                    >
                      Date est obligatoire
                    </div>
                  </div>
                  <div class="form-text">
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="
                        dateInvitation.touched &&
                        !dateInvitation.hasError('required') &&
                        compare(currentDate, dateInvitation.value)
                      "
                    >
                      Champ date Debut doit etre superieur a la date
                      d'aujourd'hui
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="row mb-3">
                <label
                  class="col-sm-2 form-label"
                  for="basic-icon-default-phone"
                  >Helper Invited</label
                >
                <div class="col-sm-10">
                  <div class="input-group input-group-merge">
                    <input
                      type="Text"
                      [(ngModel)]="invitation.helperInvited"
                      required
                      #helperInvited="ngModel"
                      class="form-control"
                      name="HelperInvited"
                      [ngClass]="{
                        'is-invalid':
                        helperInvited.touched && helperInvited.invalid
                      }"
                    />
                  </div>
                  <div
                    class="form-text"
                    *ngIf="helperInvited.invalid && helperInvited.touched"
                  >
                    <div
                      class="alert alert-danger"
                      role="alert"
                      *ngIf="helperInvited.hasError('required')"
                    >
                      Champ montant est obligatoire
                    </div>
                  </div>
                </div>
              </div>

              <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button class="btn btn-primary" [disabled]="!f.form.valid">
                    {{ editable ? "Modifier" : "Ajouter" }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>